body {
    background: linear-gradient(135deg, #ffafbd, #ffc3a0);
    font-family: 'Arial', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.container {
    background: white;
    width: 90vw;
    max-width: 360px;
    padding: 30px 20px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    position: relative;
}


h1, h2 {
    color: #ff4d6d;
}

.buttons {
    margin-top: 30px;
}

button {
    width: 100%;
    padding: 14px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: #ff4d6d;
    color: white;
    margin: 12px 0;
}


#no {
    background-color: #999;
    position: absolute;
}
@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 25px;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 20px;
    }

    button {
        width: 100%;
        margin: 10px 0;
        font-size: 16px;
    }
}
.heart {
    position: fixed;
    top: -10px;
    font-size: 20px;
    animation: fall linear forwards;
    color: #ff4d6d;
    z-index: 999;
}

@keyframes fall {
    to {
        transform: translateY(110vh);
        opacity: 0;
    }
}
h1 {
    font-size: 22px;
    margin-bottom: 15px;
}

p {
    font-size: 15px;
    line-height: 1.4;
}

h2 {
    font-size: 20px;
    margin-top: 20px;
}

#rotate {
    position: fixed;
    bottom: 10px;
    font-size: 12px;
    opacity: 0.7;
}



